{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<nav class="side-nav">
    <a href="#" class="side-menu">
        {{> "icons/menu"}}
    </a>
</nav>

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <div>
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                </a>
            </div>
            <h1 class="site-title">
                {{@blog.title}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

<nav class="mobile-nav">
    <ul class="nav" role="menu">
        <li class="nav-device-privacy-tips" role="menuitem"><a href="/tag/device-privacy-tips/">Tips</a></li>
        <li class="nav-privacy-newsletter" role="menuitem"><a href="/tag/privacy-newsletter/">Newsletter</a></li>
        <li class="nav-privacy-research" role="menuitem"><a href="/tag/research/">Research</a></li>
        <li class="nav-duckduckgo-news" role="menuitem"><a href="/tag/duckduckgo/">News</a></li>
    </ul>
</nav>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
